<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="joystick" pkg="joy" type="joy_node" output="screen" required="true">
        <param name="dev" value="/dev/input/js0" type="str"/>
        <param name="deadzone" value="0.12" />
    </node>

    <group ns="earth_rover" >
        <node name="earth_rover_teleop" pkg="earth_rover_teleop" type="earth_rover_teleop_node.py" output="screen" required="true">
            <param name="linear_scale" value="1.7" />
            <param name="linear_axis" value="1" />
            <param name="angular_scale" value="40" />
            <param name="angular_axis" value="2" />
        </node>
    </group>
</launch>
