<launch>
    <!-- <include file="$(find zed_wrapper)/launch/display.launch"/> -->

    <!-- <include file="$(find zed_wrapper)/launch/zed.launch">
        <arg name="camera_model" value="0"/>
    </include> -->
    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <!-- <arg name="publish_tf" value="false"/> -->
        </include>
    </group>

    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>


    <node name="zed_rviz" pkg="rviz" type="rviz" args="-d $(find earth_rover_config)/rviz/sensors.rviz" output="screen" required="true"/>
    <node name="rplidar_rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" required="true"/>

</launch>
