<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0.0802 0.0 0.17068 1 0 0 0 base_link laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="zed_to_base" args="0.1177 0.0 0.114905 1 0 0 0 base_link zed_camera_center 100" />
</launch>
