<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_name" default="map" />
    <arg name="map_path" value="$(find earth_rover_config)/maps/$(arg map_name).yaml" />
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg map_path)"/>

    <!--
        If setting initial pose from remote host, bi-directional pinging must
        be enabled (check firewall) and both machine times must be in sync:
        https://github.com/kth-ros-pkg/ridgeback_yumi/wiki/Time-synchronization
        https://askubuntu.com/questions/787855/how-to-use-chrony-to-synchronize-timestamp-on-two-computers
      -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="use_map_topic" value="true"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="odom_frame_id" value="odom"/>
        <remap from="scan" to="/rplidar/scan"/>

        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="odom_model_type" value="diff-corrected"/>
    </node>
</launch>
