<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="earth_rover">
        <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
            <remap from="cmd_vel_out" to="cmd_vel"/>

            <rosparam file="$(find earth_rover_config)/param/twist_mux/twist_mux_locks.yaml"  command="load"/>
            <rosparam file="$(find earth_rover_config)/param/twist_mux/twist_mux_topics.yaml" command="load"/>
        </node>
    </group>
</launch>
