<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Publishes the voxel grid to rviz for display -->
    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
        <remap from="voxel_grid" to="costmap/voxel_grid"/>
    </node>

    <!-- Run the costmap node -->
    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
        <rosparam file="$(find earth_rover_config)/configuration_files/costmap_config.yaml" command="load" ns="earth_rover" />
    </node>

</launch>
