<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="create_map" value="false" />
    <!-- <arg name="create_map" value="true" /> -->
    <arg name="map_name" value="map_3" />

    <include file="$(find earth_rover_chassis)/launch/earth_rover_chassis.launch">
        <arg name="led_control_left_start_command"   value="w" />
        <arg name="led_control_right_start_command"   value="w" />

        <!-- <arg name="led_control_left_start_command"   value="-" />
        <arg name="led_control_right_start_command"   value="-" /> -->
    </include>

    <include file="$(find earth_rover_teensy_bridge)/launch/earth_rover_teensy_bridge.launch"/>

    <include file="$(find earth_rover_teleop)/launch/earth_rover_teleop.launch">
        <arg name="joystick_linear_scale"   value="0.55" />
        <arg name="joystick_angular_scale"   value="1.6" />
        <arg name="twist_publish_topic_name"   value="cmd_vel_joy_input" />
        <arg name="enable_move_base_hookups"   value="$(eval not arg('create_map'))" />
    </include>

    <!-- <include file="$(find earth_rover_lidar_guard)/launch/earth_rover_lidar_guard.launch"></include> -->

    <include file="$(find earth_rover_config)/launch/chassis_mux.launch"></include>
    <!-- <include file="$(find earth_rover_config)/launch/zed.launch"></include> -->
    <include file="$(find earth_rover_config)/launch/rplidar.launch"></include>
    <include if="$(arg create_map)" file="$(find earth_rover_config)/launch/gmapping_map_maker.launch"></include>
    <include unless="$(arg create_map)" file="$(find earth_rover_config)/launch/amcl_localization.launch">
        <arg name="map_name" value="$(arg map_name)" />
    </include>
    <include unless="$(arg create_map)" file="$(find earth_rover_config)/launch/lidar_filter.launch"></include>
    <include unless="$(arg create_map)" file="$(find earth_rover_config)/launch/move_base.launch"></include>

    <!-- <include file="$(find earth_rover_config)/launch/rtabmap_localization.launch"></include> -->
    <!-- <include file="$(find earth_rover_config)/launch/cartographer_localization.launch"></include> -->
</launch>
