<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find earth_rover_chassis)/launch/earth_rover_chassis.launch">
        <arg name="led_control_left_start_command"   value="w" />
        <arg name="led_control_right_start_command"   value="w" />

        <!-- <arg name="led_control_left_start_command"   value="-" />
        <arg name="led_control_right_start_command"   value="-" /> -->
    </include>

    <include file="$(find earth_rover_teensy_bridge)/launch/earth_rover_teensy_bridge.launch"/>

    <include file="$(find earth_rover_teleop)/launch/earth_rover_teleop.launch">
        <arg name="joystick_linear_scale"   value="0.65" />
        <arg name="joystick_angular_scale"   value="10.0" />
        <arg name="twist_publish_topic_name"   value="cmd_vel_joy_input" />
    </include>

    <!-- <include file="$(find earth_rover_lidar_guard)/launch/earth_rover_lidar_guard.launch"></include> -->

    <include file="$(find earth_rover_config)/launch/chassis_mux.launch"></include>
    <include file="$(find earth_rover_config)/launch/sensors.launch"></include>
    <include file="$(find earth_rover_config)/launch/static_transforms.launch"></include>
    <!-- <include file="$(find earth_rover_config)/launch/rtabmap_localization.launch"></include> -->
    <!-- <include file="$(find earth_rover_config)/launch/lidar_localization.launch"></include> -->
    <!-- <include file="$(find earth_rover_config)/launch/cartographer_localization.launch"></include> -->

</launch>
