<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rplidar_tf_broadcaster" args="0 0 0 0 0 0 base_frame laser"/>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="scanmatcher_to_base_footprint" args="0.0 0.0 0.0 0.0 0.0 0.0 /scanmatcher_frame /base_frame" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="zed_to_base_frame" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /zed_camera_center" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_frame" args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_frame" />

    <group ns="rplidar">
        <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry" output="screen" >
            <remap from="odom"      to="/scanmatch_odom"/>
            <remap from="odom_info" to="/rtabmap/odom_info"/>

            <param name="frame_id"        type="string" value="base_frame"/>

            <param name="Icp/PointToPlane"  type="string" value="true"/>
            <param name="Icp/VoxelSize"     type="string" value="0.05"/>
            <param name="Icp/Epsilon"       type="string" value="0.001"/>
            <param name="Icp/PointToPlaneK"  type="string" value="5"/>
            <param name="Icp/PointToPlaneRadius"  type="string" value="0.3"/>
            <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
            <param name="Icp/PM"             type="string" value="true"/> <!-- use libpointmatcher to handle PointToPlane with 2d scans-->
            <param name="Icp/PMOutlierRatio" type="string" value="0.95"/>
            <param name="Odom/Strategy"        type="string" value="0"/>
            <param name="Odom/GuessMotion"     type="string" value="true"/>
            <param name="Odom/ResetCountdown"  type="string" value="0"/>
            <param name="Odom/ScanKeyFrameThr" type="string" value="0.9"/>
        </node>

        <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
    </group>

    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="publish_tf" value="false"/>
        </include>
    </group>

    <node pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb">
        <remap from="rgb/image"       to="/zed/rgb/image_rect_color"/>
        <remap from="depth/image"     to="/zed/depth/depth_registered"/>
        <remap from="rgb/camera_info" to="/zed/rgb/camera_info"/>
        <remap from="cloud"           to="voxel_cloud" />

        <param name="rgb/image_transport"   type="string" value="raw"/>
        <param name="depth/image_transport" type="string" value="raw"/>

        <param name="voxel_size" type="double" value="0.01"/>
        <param name="compressed" type="bool" value="false"/>
    </node>

    <group ns="rtabmap">
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
            <param name="frame_id" type="string" value="base_frame"/>
            <param name="odom_frame_id" type="string" value="odom"/>

            <param name="queue_size" type="int" value="10"/>

            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_scan"  type="bool" value="true"/>

            <remap from="odom" to="/rplidar/scanmatch_odom"/>
            <remap from="scan" to="/rplidar/scan"/>

            <remap from="rgb/image"       to="/zed/rgb/image_rect_color"/>
            <remap from="depth/image"     to="/zed/depth/depth_registered"/>
            <remap from="rgb/camera_info" to="/zed/rgb/camera_info"/>

            <param name="rgb/image_transport" type="string" value="raw"/>
            <param name="depth/image_transport" type="string" value="raw"/>

            <!-- RTAB-Map's parameters -->
            <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
            <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
            <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
            <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="10"/>
            <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
            <param name="Reg/Force3DoF"             type="string" value="true"/>
            <param name="Vis/MinInliers"            type="string" value="5"/>
            <param name="Vis/InlierDistance"        type="string" value="0.1"/>
            <param name="Rtabmap/TimeThr"           type="string" value="700"/>
            <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
            <param name="Grid/FromDepth" type="string" value="false"/>
        </node>

        <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
            <param name="subscribe_depth"     type="bool" value="true"/>
            <param name="subscribe_laserScan" type="bool" value="true"/>
            <param name="frame_id"            type="string" value="base_frame"/>
            <param name="subscribe_odom_info" type="bool" value="true"/>

            <remap from="rgb/image"       to="/zed/rgb/image_rect_color"/>
            <remap from="depth/image"     to="/zed/depth/depth_registered"/>
            <remap from="rgb/camera_info" to="/zed/rgb/camera_info"/>
            <remap from="scan"            to="/rplidar/scan"/>
            <remap from="odom"            to="/rplidar/scanmatch_odom"/>

            <param name="rgb/image_transport"   type="string" value="raw"/>
            <param name="depth/image_transport" type="string" value="raw"/>
        </node>
    </group>
</launch>
