<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find earth_rover_config)/param/costmap/move_base_global_params.yaml" command="load"/>

        <rosparam file="$(find earth_rover_config)/param/costmap/dwaplanner_params.yaml" command="load" ns="DWAPlanner"/>
        <rosparam file="$(find earth_rover_config)/param/costmap/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>

        <rosparam file="$(find earth_rover_config)/param/costmap/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find earth_rover_config)/param/costmap/costmap_local_params.yaml" command="load" ns="local_costmap"/>
        
        <rosparam file="$(find earth_rover_config)/param/costmap/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find earth_rover_config)/param/costmap/costmap_global_params.yaml" command="load" ns="global_costmap"/>
    </node>
</launch>
