<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="earth_rover" >
        <node name="earth_rover_teensy_bridge" pkg="earth_rover_teensy_bridge" type="earth_rover_teensy_bridge_node" required="true" output="screen">
            <param name="serial_port" type="string" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_4989760-if00"/>
            <param name="serial_baud" type="int" value="115200"/>
        </node>
    </group>
</launch>
